.about {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--black);
	box-shadow: 0px 10px 20px black;
}

.about__offset {
	visibility: hidden;
	position: relative;
	top: -25vh;
}

.about__content {
	width: 100%;
	max-width: 1024px;
	padding-inline: 40px;
	padding-block: 80px;
}

.about__text {
	font-size: 1.5rem;
	color: var(--white);
}

@media screen and (max-width: 1120px) {
	.about__content {
		max-width: 100%;
		padding-inline: 60px;
	}
}
@media screen and (max-width: 768px) {
	.about__text {
		font-size: 1rem;
	}
}
@media screen and (max-width: 595px) {
	.about__content {
		padding-block: 40px;
		padding-inline: 20px;
	}
	.about__text {
		letter-spacing: 0.8px;
	}
}
