*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Jura", sans-serif;
	scroll-behavior: smooth;
	background-color: var(--black);
}

body {
	background: url(/images/wall-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@font-face {
	font-family: "Neon Planet Display";
	src: url("../public/fonts/NeonPlanetDisplay.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Neon Planet Script";
	src: url("../public/fonts/NeonPlanetScript.ttf");
	font-weight: bold;
}
