.navbar,
.navbar__scroll {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 20;
}

.navbar__scroll {
	backdrop-filter: blur(2px);
}

.navbar__content {
	width: 100%;
	max-width: 1440px;
	padding-inline: 40px;
	display: flex;
	justify-content: space-between;
}

.navbar__linksMobile {
	display: none;
}
.navbar__links {
	display: flex;
	gap: 0.6rem;
	list-style: none;
}

.navbar__link {
	font-size: 1.3rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--white);
}

.navbar__link:hover {
	color: var(--ligthPrimary);
}

.navbar__active {
	font-size: 1.3rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--primary);
}

.navbar__switch {
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar__switch > label > input {
	display: none;
}

.navbar__btnpink,
.navbar__btnviolet,
.navbar__btngreen {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	filter: brightness(0.3);
	border: 3px solid;
	transition: filter 0.3s ease;
}

.navbar__btnpink {
	border-color: #ff4d94;
}
.navbar__btnpink:hover {
	filter: brightness(0.8);
}

.navbar__btnviolet {
	border-color: #a746df;
}
.navbar__btnviolet:hover {
	filter: brightness(0.8);
}

.navbar__btngreen {
	border-color: #7dd832;
}
.navbar__btngreen:hover {
	filter: brightness(0.8);
}

.navbar__switch > label > input:checked ~ .navbar__btnpink {
	/* border-color: var(--white);
	filter: var(--iconDropShadow); */
	filter: brightness(1);
}
.navbar__switch > label > input:checked ~ .navbar__btnviolet {
	/* border-color: var(--white);
	filter: var(--iconDropShadow); */
	filter: brightness(1);
}
.navbar__switch > label > input:checked ~ .navbar__btngreen {
	/* border-color: var(--white);
	filter: var(--iconDropShadow); */
	filter: brightness(1);
}

@media screen and (max-width: 768px) {
	.navbar__links {
		display: none;
	}
	.navbar__linksMobile {
		width: 100%;
		height: 100vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		background-color: var(--black);
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		gap: 0.6rem;
		list-style: none;
	}
	.navbar__link {
		font-size: 2rem;
	}
	.navbar__active {
		font-size: 2rem;
	}
}
@media screen and (max-width: 595px) {
	.navbar__content {
		max-width: 100%;
		padding-inline: 20px;
	}
}
