.navbar,
.navbar__scroll {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 20;
}

.navbar__scroll {
	backdrop-filter: blur(2px);
}

.navbar__content {
	width: 100%;
	max-width: 1440px;
	padding-inline: 40px;
	display: flex;
	justify-content: space-between;
}

.navbar__links {
	display: flex;
	gap: 0.6rem;
	list-style: none;
}

.navbar__link {
	font-size: 1.3rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--white);
}

.navbar__link:hover {
	color: var(--ligthPrimary);
}

.navbar__active {
	font-size: 1.3rem;
	font-weight: 600;
	text-decoration: none;
	color: var(--primary);
}

.navbar__switch {
	display: flex;
	gap: 10px;
}

.navbar__switch > label > input {
	display: none;
}

.navbar__btnpink,
.navbar__btnviolet,
.navbar__btngreen {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	filter: brightness(0.3);
	border: 3px solid;
	transition: filter 0.3s ease;
}

.navbar__btnpink {
	border-color: #ff4d94;
}
.navbar__btnpink:hover {
	filter: brightness(0.8);
}

.navbar__btnviolet {
	border-color: #a746df;
}
.navbar__btnviolet:hover {
	filter: brightness(0.8);
}

.navbar__btngreen {
	border-color: #7dd832;
}
.navbar__btngreen:hover {
	filter: brightness(0.8);
}

.navbar__switch > label > input:checked ~ .navbar__btnpink {
	border-color: var(--white);
	filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 7px #ff80b3)
		drop-shadow(0px 0px 15px #ff4d94) drop-shadow(0px 0px 55px #ff0066)
		brightness(1);
	animation: flick 3s reverse infinite;
}
.navbar__switch > label > input:checked ~ .navbar__btnviolet {
	border-color: var(--white);
	filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 7px #bb80ff)
		drop-shadow(0px 0px 15px #a746df) drop-shadow(0px 0px 55px #8e05dd)
		brightness(1);
	animation: flick 3s reverse infinite;
}
.navbar__switch > label > input:checked ~ .navbar__btngreen {
	border-color: var(--white);
	filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 7px #94d469)
		drop-shadow(0px 0px 15px #7dd832) drop-shadow(0px 0px 55px #57d304)
		brightness(1);
	animation: flick 3s reverse infinite;
}

@keyframes flick {
	0% {
		opacity: 0.1;
	}
	2% {
		opacity: 1;
	}
	4% {
		opacity: 0.1;
	}
	5% {
		opacity: 1;
	}
	69% {
		opacity: 1;
	}
	70% {
		opacity: 0.5;
	}
	73% {
		opacity: 1;
	}
	87% {
		opacity: 1;
	}
}
