.scrollTopWrapper {
	position: fixed;
	right: 40px;
	bottom: 40px;
}

.scrollTop {
	font-size: 2rem;
	color: var(--primary);
}
@media screen and (max-width: 1120px) {
	.scrollTopWrapper {
		right: 10px;
	}
}
