:root {
	--black: #0c0f0a;
	--white: #f0f0f0;
	--primary: #7dd832;
	--ligthPrimary: #94d469;
	--gradient: linear-gradient(
		45deg,
		#94d469 0%,
		#7dd832 25%,
		#57d304 50%,
		#7dd832 75%,
		#94d469 100%
	);
	--filter: invert(60%) sepia(100%) saturate(321%) hue-rotate(50deg)
		brightness(101%) contrast(95%);
}

.pink-theme {
	--black: #0c0f0a;
	--white: #f0f0f0;
	--primary: #ff4d94;
	--ligthPrimary: #ff80b3;
	--gradient: linear-gradient(
		45deg,
		#ff80b3 0%,
		#ff4d94 25%,
		#ff0066 50%,
		#ff4d94 75%,
		#ff80b3 100%
	);
	--filter: invert(42%) sepia(43%) saturate(1495%) hue-rotate(297deg)
		brightness(101%) contrast(101%);
}

.violet-theme {
	--black: #0c0f0a;
	--white: #f0f0f0;
	--primary: #a746df;
	--ligthPrimary: #bb80ff;
	--gradient: linear-gradient(
		45deg,
		#bb80ff 0%,
		#a746df 25%,
		#8e05dd 50%,
		#a746df 75%,
		#bb80ff 100%
	);
	--filter: invert(24%) sepia(97%) saturate(7297%) hue-rotate(278deg)
		brightness(75%) contrast(114%);
}

.green-theme {
	--black: #0c0f0a;
	--white: #f0f0f0;
	--primary: #7dd832;
	--ligthPrimary: #94d469;
	--gradient: linear-gradient(
		45deg,
		#94d469 0%,
		#7dd832 25%,
		#57d304 50%,
		#7dd832 75%,
		#94d469 100%
	);
	--filter: invert(60%) sepia(100%) saturate(321%) hue-rotate(50deg)
		brightness(101%) contrast(95%);
}
